.admin-pac-container {
  color: var(--frieren);
  text-align: center;
  max-width: 1500px;
  margin: auto auto;
}

.blue-rectangle {
  background-color: var(--frieren);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nieve);
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.caja-blanca {
  background-color: var(--nieve);
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 55px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.header-table {
  display: flex;
  padding-top: 20px;
  margin: 0px 20px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.banchile {
  position: absolute;
  transform: translate(-50%, 50%);
  top: 0%;
  left: 50%;
}

.filtro {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 20px;
  border-radius: 20px;
  transition: 200ms;
  color: var(--frieren);
  fill: var(--frieren);
}
.filtro:hover {
  color: var(--nieve);
  fill: var(--nieve);
  background-color: var(--frieren);
}

.boton {
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--frieren);
}
.boton:hover {
  transition: 200ms;
  background-color: var(--felipito);
  fill: var(--spiderman);
}

.pages {
  display: flex;
  align-items: center;
}

.search-container {
  width: 5%;
  margin: 25px 0 20px 20px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.filtro-popup {
  position: absolute;
  top: 90px;
  left: 20px;
  width: 300px;
  background-color: var(--nieve);
  border-radius: 19px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 200ms;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--frieren);
  border-radius: 20px;
  padding: 15px 0px;
  margin: 5px 20px;
  color: var(--nieve);
  font-size: 18px;
  box-sizing: border-box;
}

.form-data {
  display: flex;
  margin: 0px 24px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  background-color: var(--nieve);
  border-radius: 10px;
  color: var(--frieren);
  font-size: 18px;
  box-sizing: border-box;
}
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-field {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-wrap: nowrap;
}

.form-ancho {
  min-width: 300px;
}

form {
  display: block;
  margin-top: 15px;
}

input[type='text'] {
  font-size: 16px;
  border: 1px solid var(--felipito);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 85%;
}
input[type='text']:focus {
  outline-color: var(--frieren);
}

.botones-filtro {
  width: 85%;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--frieren);
  color: var(--nieve);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}
.border-table-margin {
  margin: 10px 20px 0px 20px;
  padding-bottom: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}
.table-header {
  background-color: var(--frieren);
  color: var(--nieve);
}
table th:first-child{
  border-radius:20px 0px 0px 20px!important;
  padding: 10px;
}
table th:last-child{
  border-radius:0px 20px 20px 0px;
}
table td:first-child{
  border-radius:20px 0px 0px 20px!important;
}
table td:last-child{
  border-radius:0px 20px 20px 0px;
}
table td{
  padding: 5px 0px;
}
tbody tr:hover{
  color: var(--spiderman);
  background-color: var(--felipito);
  transition: 200ms;
  border-radius: 0px 10px 0px 10px!important;
}
tbody tr::selection{
  color: var(--nieve);
  background-color: var(--frieren);
  transition: 200ms;
}
.check-ancho {
  width: 10px;
  margin-left: 10px;
}

.data-item {
  background-color: var(--nieve);
  color: var(--frieren);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-exportar {
  background-color: var(--nieve);
  fill: var(--frieren);
  color: var(--frieren);
  margin-top: 25px;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.boton-exportar:hover {
  background-color: var(--frieren);
  fill: var(--nieve);
  color: var(--nieve);
}

.monto {
  background-color: var(--nieve);
  fill: var(--frieren);
  color: var(--frieren);
  border-style: solid;
  border-color: var(--frieren);
  border-width: 2px;
  margin-top: 25px;
  max-width: 1500px;
  height: 25px;
  margin: auto auto;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

/* DATOS FOOM SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Estilo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input+ .slider {
  background-color: var(--lux);
  border-color: none;
}
input:checked + .slider {
  background-color: var(--frieren);
}
