/* GENERALES */
.admin-pac-container {
  text-align: center;
  max-width: 1500px;
  margin: auto auto;
}

.blue-rectangle {
  background-color: var(--frieren);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nieve);
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.caja-blanca {
  background-color: var(--nieve);
  margin-top: 25px;
  border-radius: 20px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 55px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

/* HEADER TABLA */
.header-table {
  display: flex;
  padding-top: 20px;
  margin: 0px 20px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.banchile {
  position: absolute;
  transform: translate(-50%, 50%);
  top: -30px;
  left: 50%;
}

.filtro {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 20px;
  border-radius: 20px;
  transition: 200ms;
  color: var(--frieren);
  fill: var(--frieren);
}
.filtro:hover {
  color: var(--nieve);
  fill: var(--nieve);
  background-color: var(--frieren);
}

.boton {
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--frieren);
}
.boton:hover {
  transition: 200ms;
  background-color: var(--felipito);
  fill: var(--spiderman);
}

.pages {
  display: flex;
  align-items: center;
}

/* FILTRO */

.filtro-popup {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 340px;
  padding: 20px 0px;
  background-color: var(--nieve);
  border-radius: 19px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  transition: 200ms;
}

.filtro-input {
  font-size: 16px;
  border: 1px solid var(--felipito);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 85%;
}
.filtro-input:focus,
.filtro-input:hover {
  outline-color: var(--frieren);
  border-color: var(--frieren);
}

.filtro-selected {
  font-size: 16px;
  border: 1px solid var(--felipito);
  color: var(--jaimico);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 275px;
  cursor: pointer;
  outline: 0;
}
.filtro-banco {
  font-size: 16px;
  border: 1px solid var(--felipito);
  color: var(--jaimico);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 295px;
  cursor: pointer;
  outline: 0;
}
.filtro-selected:hover,
.filtro-selected:focus {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid var(--frieren);
}

.botones-filtro {
  width: 85%;
  margin: 10px auto 20px auto;
  display: flex;
  justify-content: space-between;
}
.cierre{
  position:absolute;
  background-color: var(--red);
  top: 7px;
  right: 7px;
  padding: 0%;
  height: 20px;
  width: 20px;
}
button {
  background-color: var(--frieren);
  color: var(--nieve);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #2980b9;
}

.control-group {
  text-align: left;
  padding-left: 20px;
}
.titulo-casilla{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 10px 10px 0px;
  color: var(--comadreja);
}
.control {
  color: var(--spiderman);
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 16px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 15px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #d0e3f0;
}

.control input:checked ~ .control_indicator {
  background: #065ea6;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #00153a;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 1;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 35%;
}

.control-radio .control_indicator:after {
  left: 5px;
  top: 5px;
  height: 0px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #c7c7c7;
}.control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.495rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0.01;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

/* TABLA */
.border-table-margin {
  margin: 10px 20px 0px 20px;
  padding-bottom: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}
.table-header {
  background-color: var(--frieren);
  color: var(--nieve);
}
table th:first-child {
  border-radius: 20px 0px 0px 20px !important;
  padding: 10px;
}
table th:last-child {
  border-radius: 0px 20px 20px 0px;
}
table td:first-child {
  border-radius: 20px 0px 0px 20px !important;
}
table td:last-child {
  border-radius: 0px 20px 20px 0px;
}
table td {
  padding: 5px 0px;
}
tbody tr{
  border-bottom: 1px solid var(--frieren);
}
tbody tr:hover {
  color: var(--spiderman); 
  background-color: var(--felipito);
  transition: 200ms;
  border-radius: 0px 10px 0px 10px !important;
}
.fila-seleccionada {
  color: var(--nieve);
  background-color: var(--helga);
  transition: 200ms;
}
.fila-seleccionada:hover {
  color: var(--nieve);
  background-color: var(--spiderman);
  transition: 200ms;
}

.boton-exportar {
  background-color: var(--white);
  fill: var(--frieren);
  color: var(--frieren);
  font-size: 18px;
  text-wrap: nowrap;
  font-family: 'nunito';
  margin-top: 25px;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
.boton-exportar:disabled{
  background-color: var(--nieve);
  fill: var(--jaimico);
  color: var(--jaimico);
  pointer-events: none!important;
  cursor: not-allowed!important;
}
.boton-exportar:hover:disabled {
  background-color: var(--nieve);
  fill: var(--jaimico);
  color: var(--jaimico);
  pointer-events: none!important;
  cursor: not-allowed!important;
}

.boton-exportar:hover {
  background-color: var(--frieren);
  fill: var(--nieve);
  color: var(--nieve);
}

.boton-exportar-desabilitado {
  background-color: var(--nieve);
  fill: var(--jaimico);
  color: var(--jaimico);
  pointer-events: none!important;
  cursor: not-allowed!important;
  font-size: 18px;
  text-wrap: nowrap;
  font-family: 'nunito';
  margin-top: 25px;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.monto {
  background-color: var(--white);
  fill: var(--frieren);
  color: var(--frieren);
  border-style: solid;
  border-color: var(--frieren);
  border-width: 2px;
  margin-top: 25px;
  max-width: 1500px;
  height: 25px;
  margin: auto auto;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.25);
}