/* form.css */
.form-container {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  margin-top: 20px; /* Ajusta la distancia desde la parte superior del contenedor */
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos al principio del contenedor */
  background-color: #6495ed;
  border-radius: 10px;
  padding: 15px;
  color: white;
  font-size: 14px;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}
